CONCAT('CREATE TABLE ', table_name, ' AS SELECT * FROM ', table_name, ';')
CREATE TABLE DimCompany AS SELECT * FROM DimCompany;
CREATE TABLE DimIndustry AS SELECT * FROM DimIndustry;
CREATE TABLE DimJob AS SELECT * FROM DimJob;
CREATE TABLE DimLocation AS SELECT * FROM DimLocation;
CREATE TABLE DimSourceAgency AS SELECT * FROM DimSourceAgency;
CREATE TABLE DimTime AS SELECT * FROM DimTime;
CREATE TABLE ETL_Logs AS SELECT * FROM ETL_Logs;
CREATE TABLE FactJobPosting AS SELECT * FROM FactJobPosting;
CREATE TABLE StagingJobPostings AS SELECT * FROM StagingJobPostings;
CREATE TABLE vw_industry_analysis AS SELECT * FROM vw_industry_analysis;
CREATE TABLE vw_job_summary AS SELECT * FROM vw_job_summary;
