-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: job_warehouse
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `DimCompany`
--

DROP TABLE IF EXISTS `DimCompany`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimCompany` (
  `company_id` int NOT NULL AUTO_INCREMENT,
  `company_name` varchar(255) NOT NULL,
  `company_type` varchar(100) DEFAULT 'Private',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`company_id`),
  UNIQUE KEY `company_name` (`company_name`),
  KEY `idx_company_name` (`company_name`(100))
) ENGINE=InnoDB AUTO_INCREMENT=1021 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimCompany`
--

LOCK TABLES `DimCompany` WRITE;
/*!40000 ALTER TABLE `DimCompany` DISABLE KEYS */;
/*!40000 ALTER TABLE `DimCompany` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DimIndustry`
--

DROP TABLE IF EXISTS `DimIndustry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimIndustry` (
  `industry_id` int NOT NULL AUTO_INCREMENT,
  `industry_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`industry_id`),
  UNIQUE KEY `industry_name` (`industry_name`),
  KEY `idx_industry_name` (`industry_name`(100))
) ENGINE=InnoDB AUTO_INCREMENT=125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimIndustry`
--

LOCK TABLES `DimIndustry` WRITE;
/*!40000 ALTER TABLE `DimIndustry` DISABLE KEYS */;
/*!40000 ALTER TABLE `DimIndustry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DimJob`
--

DROP TABLE IF EXISTS `DimJob`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimJob` (
  `job_id` int NOT NULL AUTO_INCREMENT,
  `job_title` varchar(255) NOT NULL,
  `job_type` varchar(50) DEFAULT NULL,
  `experience_level` varchar(50) DEFAULT NULL,
  `education_level` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`job_id`),
  KEY `idx_job_title` (`job_title`(100)),
  KEY `idx_experience` (`experience_level`)
) ENGINE=InnoDB AUTO_INCREMENT=1021 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimJob`
--

LOCK TABLES `DimJob` WRITE;
/*!40000 ALTER TABLE `DimJob` DISABLE KEYS */;
/*!40000 ALTER TABLE `DimJob` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DimLocation`
--

DROP TABLE IF EXISTS `DimLocation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimLocation` (
  `location_id` int NOT NULL AUTO_INCREMENT,
  `city` varchar(100) NOT NULL,
  `province` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`location_id`),
  UNIQUE KEY `unique_location` (`city`,`province`),
  KEY `idx_city` (`city`),
  KEY `idx_province` (`province`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimLocation`
--

LOCK TABLES `DimLocation` WRITE;
/*!40000 ALTER TABLE `DimLocation` DISABLE KEYS */;
INSERT INTO `DimLocation` VALUES (32,'Battambang',NULL),(6,'Battambang','Battambang'),(29,'Kampong Speu',NULL),(5,'Kampong Speu','Kampong Speu'),(31,'Kandal',NULL),(3,'Kandal','Kandal'),(28,'Phnom Penh',NULL),(1,'Phnom Penh','Phnom Penh'),(4,'Preah Sihanouk','Preah Sihanouk'),(30,'Siem Reap',NULL),(2,'Siem Reap','Siem Reap'),(33,'Sihanoukville',NULL);
/*!40000 ALTER TABLE `DimLocation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DimSourceAgency`
--

DROP TABLE IF EXISTS `DimSourceAgency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimSourceAgency` (
  `source_id` int NOT NULL AUTO_INCREMENT,
  `agency_name` varchar(100) NOT NULL,
  `platform_type` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`source_id`),
  UNIQUE KEY `agency_name` (`agency_name`),
  KEY `idx_agency_name` (`agency_name`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimSourceAgency`
--

LOCK TABLES `DimSourceAgency` WRITE;
/*!40000 ALTER TABLE `DimSourceAgency` DISABLE KEYS */;
INSERT INTO `DimSourceAgency` VALUES (1,'Facebook Page','Social Media','2026-01-09 06:54:58'),(2,'Jobify Cambodia','Job Portal','2026-01-09 06:54:58'),(3,'LinkedIn Cambodia','Professional Network','2026-01-09 06:54:58'),(4,'CamHR','Job Portal','2026-01-09 06:54:58'),(5,'BongThom','Classifieds','2026-01-09 06:54:58'),(6,'Khmer24 Jobs','Classifieds','2026-01-09 06:54:58'),(16,'Khmer24 Jobs\"\"\"',NULL,'2026-01-09 07:15:30'),(17,'BongThom`;',NULL,'2026-01-09 07:15:30');
/*!40000 ALTER TABLE `DimSourceAgency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DimTime`
--

DROP TABLE IF EXISTS `DimTime`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimTime` (
  `time_id` int NOT NULL AUTO_INCREMENT,
  `posting_date` date NOT NULL,
  `posting_day` int DEFAULT NULL,
  `posting_month` int DEFAULT NULL,
  `posting_quarter` int DEFAULT NULL,
  `posting_year` int DEFAULT NULL,
  `posting_weekday` varchar(20) DEFAULT NULL,
  `is_weekend` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`time_id`),
  UNIQUE KEY `posting_date` (`posting_date`),
  KEY `idx_date` (`posting_date`),
  KEY `idx_year_month` (`posting_year`,`posting_month`)
) ENGINE=InnoDB AUTO_INCREMENT=125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimTime`
--

LOCK TABLES `DimTime` WRITE;
/*!40000 ALTER TABLE `DimTime` DISABLE KEYS */;
/*!40000 ALTER TABLE `DimTime` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ETL_Logs`
--

DROP TABLE IF EXISTS `ETL_Logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ETL_Logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `log_type` varchar(50) DEFAULT NULL,
  `process_name` varchar(100) DEFAULT NULL,
  `record_count` int DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `error_message` text,
  `start_time` datetime DEFAULT NULL,
  `end_time` datetime DEFAULT NULL,
  `duration_seconds` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ETL_Logs`
--

LOCK TABLES `ETL_Logs` WRITE;
/*!40000 ALTER TABLE `ETL_Logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `ETL_Logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `FactJobPosting`
--

DROP TABLE IF EXISTS `FactJobPosting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `FactJobPosting` (
  `fact_id` int NOT NULL AUTO_INCREMENT,
  `time_id` int NOT NULL,
  `company_id` int NOT NULL,
  `job_id` int NOT NULL,
  `industry_id` int NOT NULL,
  `location_id` int NOT NULL,
  `source_id` int NOT NULL,
  `job_count` int DEFAULT '1',
  `salary_min` decimal(10,2) DEFAULT NULL,
  `salary_max` decimal(10,2) DEFAULT NULL,
  `salary_avg` decimal(10,2) GENERATED ALWAYS AS (((`salary_min` + `salary_max`) / 2)) STORED,
  `has_salary` tinyint(1) GENERATED ALWAYS AS ((`salary_min` is not null)) STORED,
  `load_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`fact_id`),
  UNIQUE KEY `unique_posting` (`time_id`,`company_id`,`job_id`,`industry_id`,`location_id`,`source_id`),
  KEY `company_id` (`company_id`),
  KEY `job_id` (`job_id`),
  KEY `industry_id` (`industry_id`),
  KEY `location_id` (`location_id`),
  KEY `source_id` (`source_id`),
  KEY `idx_salary` (`salary_avg`),
  KEY `idx_load_date` (`load_date`),
  CONSTRAINT `FactJobPosting_ibfk_1` FOREIGN KEY (`time_id`) REFERENCES `DimTime` (`time_id`),
  CONSTRAINT `FactJobPosting_ibfk_2` FOREIGN KEY (`company_id`) REFERENCES `DimCompany` (`company_id`),
  CONSTRAINT `FactJobPosting_ibfk_3` FOREIGN KEY (`job_id`) REFERENCES `DimJob` (`job_id`),
  CONSTRAINT `FactJobPosting_ibfk_4` FOREIGN KEY (`industry_id`) REFERENCES `DimIndustry` (`industry_id`),
  CONSTRAINT `FactJobPosting_ibfk_5` FOREIGN KEY (`location_id`) REFERENCES `DimLocation` (`location_id`),
  CONSTRAINT `FactJobPosting_ibfk_6` FOREIGN KEY (`source_id`) REFERENCES `DimSourceAgency` (`source_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1534 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `FactJobPosting`
--

LOCK TABLES `FactJobPosting` WRITE;
/*!40000 ALTER TABLE `FactJobPosting` DISABLE KEYS */;
/*!40000 ALTER TABLE `FactJobPosting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `StagingJobPostings`
--

DROP TABLE IF EXISTS `StagingJobPostings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `StagingJobPostings` (
  `staging_id` int NOT NULL AUTO_INCREMENT,
  `timestamp_col` datetime DEFAULT NULL,
  `job_title` varchar(255) DEFAULT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  `industry` varchar(255) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `salary_range` varchar(100) DEFAULT NULL,
  `job_type` varchar(50) DEFAULT NULL,
  `experience_level` varchar(50) DEFAULT NULL,
  `education_level` varchar(100) DEFAULT NULL,
  `posting_date` date DEFAULT NULL,
  `source_agency` varchar(100) DEFAULT NULL,
  `salary_min` decimal(10,2) DEFAULT NULL,
  `salary_max` decimal(10,2) DEFAULT NULL,
  `is_processed` tinyint(1) DEFAULT '0',
  `process_date` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`staging_id`),
  KEY `idx_processed` (`is_processed`),
  KEY `idx_company_job` (`company_name`(50),`job_title`(100)),
  KEY `idx_post_date` (`posting_date`)
) ENGINE=InnoDB AUTO_INCREMENT=721 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `StagingJobPostings`
--

LOCK TABLES `StagingJobPostings` WRITE;
/*!40000 ALTER TABLE `StagingJobPostings` DISABLE KEYS */;
/*!40000 ALTER TABLE `StagingJobPostings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_industry_analysis`
--

DROP TABLE IF EXISTS `vw_industry_analysis`;
/*!50001 DROP VIEW IF EXISTS `vw_industry_analysis`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_industry_analysis` AS SELECT 
 1 AS `industry_name`,
 1 AS `total_jobs`,
 1 AS `jobs_with_salary`,
 1 AS `avg_salary`,
 1 AS `unique_companies`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_job_summary`
--

DROP TABLE IF EXISTS `vw_job_summary`;
/*!50001 DROP VIEW IF EXISTS `vw_job_summary`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_job_summary` AS SELECT 
 1 AS `job_title`,
 1 AS `company_name`,
 1 AS `industry_name`,
 1 AS `city`,
 1 AS `posting_date`,
 1 AS `salary_min`,
 1 AS `salary_max`,
 1 AS `salary_avg`,
 1 AS `agency_name`,
 1 AS `experience_level`,
 1 AS `education_level`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_industry_analysis`
--

/*!50001 DROP VIEW IF EXISTS `vw_industry_analysis`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_industry_analysis` AS select `i`.`industry_name` AS `industry_name`,count(0) AS `total_jobs`,sum((case when (`f`.`salary_min` is not null) then 1 else 0 end)) AS `jobs_with_salary`,avg(`f`.`salary_avg`) AS `avg_salary`,count(distinct `c`.`company_id`) AS `unique_companies` from ((`FactJobPosting` `f` join `DimIndustry` `i` on((`f`.`industry_id` = `i`.`industry_id`))) join `DimCompany` `c` on((`f`.`company_id` = `c`.`company_id`))) group by `i`.`industry_name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_job_summary`
--

/*!50001 DROP VIEW IF EXISTS `vw_job_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_job_summary` AS select `j`.`job_title` AS `job_title`,`c`.`company_name` AS `company_name`,`i`.`industry_name` AS `industry_name`,`l`.`city` AS `city`,`t`.`posting_date` AS `posting_date`,`f`.`salary_min` AS `salary_min`,`f`.`salary_max` AS `salary_max`,`f`.`salary_avg` AS `salary_avg`,`s`.`agency_name` AS `agency_name`,`j`.`experience_level` AS `experience_level`,`j`.`education_level` AS `education_level` from ((((((`FactJobPosting` `f` join `DimJob` `j` on((`f`.`job_id` = `j`.`job_id`))) join `DimCompany` `c` on((`f`.`company_id` = `c`.`company_id`))) join `DimIndustry` `i` on((`f`.`industry_id` = `i`.`industry_id`))) join `DimLocation` `l` on((`f`.`location_id` = `l`.`location_id`))) join `DimTime` `t` on((`f`.`time_id` = `t`.`time_id`))) join `DimSourceAgency` `s` on((`f`.`source_id` = `s`.`source_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-09  7:39:55
